.menu{
	top: 0;
	left: 0;
	right: 0;
	background-color: #c2c2c2;
	color: black;
	font-size: 18px;
}
.contein{
	position: relative;
	padding: 20px;
	background-color: #c2c2c2;

}
.contein:hover, .lvl2:hover, .lvl3:hover{
	background-color: #929292;
}
li{
	list-style-type: none;
	text-align: center;
}
ul.lvl2, ul.lvl3{
	position: absolute;
	margin-top: 18px;
}
li.lvl2, li.lvl3{
	display: none;
	position: absolute;
	padding: 20px;
	width: 100px;
	left: 80px;
	background-color: #c2c2c2;
	z-index: 2;
}