.front{
	top: 70vh;
	bottom: 5vh;
	left: 5vw;
	right: 5vw;
	background-color: #005300;
}
.back{
	top: 1vw; 
	bottom: 1vw; 
	left: 1vw;
	right: 1vw;
	background-color: #18183e;
}
.hero{
	width: 50px;
	height: 50px;
	position: relative;
}
#balls{
	width: 15px;
	height: 15px;
	background-color: red;
	border-radius: 50%;
	position: absolute;
}
.invision{
	background-color: white;
}